本次我们直接使用从新加坡政府网站https://beta.data.gov.sg/ 得到的数据集进行操作

由于其和workshop上的数据的主要区别在于额外得到了每一个精确到block位置的经纬度坐标，因此我们的第一个目标为：

    GOAL1：删掉除了2023年以外的其他所有的行，然后根据所有精确位置得到其对应的地理坐标，使用由https://www.onemap.gov.sg/ 提供的API接口

In [30]:
# Access token eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI4ZDViMDZjMmQ3YzhiODlhZGZmMDNiOGU4MWQ0ZjY3NyIsImlzcyI6Imh0dHA6Ly9pbnRlcm5hbC1hbGItb20tcHJkZXppdC1pdC0xMjIzNjk4OTkyLmFwLXNvdXRoZWFzdC0xLmVsYi5hbWF6b25hd3MuY29tL2FwaS92Mi91c2VyL3Bhc3N3b3JkIiwiaWF0IjoxNjk3NDMyMjkwLCJleHAiOjE2OTc2OTE0OTAsIm5iZiI6MTY5NzQzMjI5MCwianRpIjoieDVvTUc0YWRWMEpqZWRjNiIsInVzZXJfaWQiOjEyMzcsImZvcmV2ZXIiOmZhbHNlfQ.WTrOE-Tnj8_wbR3VMMJTT0y4Jhgv6mvNs3TwW0Wo9cY
# Token expires on: Thu Oct 19 2023

import requests as re
import pandas as pd
import json

In [31]:
# read dataset
hdb_df = pd.read_csv("resale_price_2017_onwards.csv")

hdb_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [32]:
hdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163824 entries, 0 to 163823
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   month                163824 non-null  object
 1   town                 163824 non-null  object
 2   flat_type            163824 non-null  object
 3   block                163824 non-null  object
 4   street_name          163824 non-null  object
 5   storey_range         163824 non-null  object
 6   floor_area_sqm       163824 non-null  float64
 7   flat_model           163824 non-null  object
 8   lease_commence_date  163824 non-null  int64
 9   remaining_lease      163824 non-null  object
 10  resale_price         163824 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 13.7+ MB

In [33]:
hdb_df['month'].astype(str).str.contains("2023")

0         False
1         False
2         False
3         False
4         False
          ...
163819     True
163820     True
163821     True
163822     True
163823     True
Name: month, Length: 163824, dtype: bool

In [34]:
# drop all rows before 2023-01-01
hdb2023_df = hdb_df[hdb_df['month'].astype(str).str.contains("2023")]

# reset indices $ drop the origin 'index' column
hdb2023_df = hdb2023_df.reset_index().drop('index', axis = 1)

# check all rows with nan
rows_with_missing_values = hdb2023_df[hdb2023_df.isnull().any(axis = 1)]

# print all rows with nan
print("Rows with missing values:")
print(rows_with_missing_values)

hdb2023_df.head()

Rows with missing values:
Empty DataFrame
Columns: [month, town, flat_type, block, street_name, storey_range, floor_area_sqm, flat_model, lease_commence_date, remaining_lease, resale_price]
Index: []

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2023-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,55 years 05 months,267000.0
1,2023-01,ANG MO KIO,2 ROOM,323,ANG MO KIO AVE 3,04 TO 06,49.0,Improved,1977,53 years 06 months,300000.0
2,2023-01,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,04 TO 06,44.0,Improved,1978,54 years 01 month,280000.0
3,2023-01,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,07 TO 09,44.0,Improved,1978,54 years 01 month,282000.0
4,2023-01,ANG MO KIO,2 ROOM,170,ANG MO KIO AVE 4,01 TO 03,45.0,Improved,1986,62 years 01 month,289800.0

In [35]:
# convert all data in 'remaining_lease' to a number with unit 'Year' (Eg: 55 year 6 months[str] -> 55.5[float])
def convert_2_num(row):
    data = row.split()
    try:
        year = float(data[0])
        month = float(data[2]) / 12
    except Exception:
        year = float(data[0])
        month = 0

    return year + month

hdb2023_df['remaining_lease'] = hdb2023_df['remaining_lease'].apply(convert_2_num)

hdb2023_df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2023-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,55.416667,267000.0
1,2023-01,ANG MO KIO,2 ROOM,323,ANG MO KIO AVE 3,04 TO 06,49.0,Improved,1977,53.500000,300000.0
2,2023-01,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,04 TO 06,44.0,Improved,1978,54.083333,280000.0
3,2023-01,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,07 TO 09,44.0,Improved,1978,54.083333,282000.0
4,2023-01,ANG MO KIO,2 ROOM,170,ANG MO KIO AVE 4,01 TO 03,45.0,Improved,1986,62.083333,289800.0

In [36]:
# # add 2 new columns 'lat' & 'lng'
# hdb2023_df['lat'] = None
# hdb2023_df['lng'] = None

# headers = {
#     'purpose': 'student\'s project',
#     'University': 'NTU'
# }

# '''
# This function returns the details according to a certain address obtained from a row of Dataframe 'hdb2023_df'
# {
#     "found": 1,
#     "totalNumPages": 1,
#     "pageNum": 1,
#     "results": [
#         {
#         "SEARCHVAL": "406 ANG MO KIO AVENUE 10 SINGAPORE 560406",
#         "BLK_NO": "406",
#         "ROAD_NAME": "ANG MO KIO AVENUE 10",
#         "BUILDING": "NIL",
#         "ADDRESS": "406 ANG MO KIO AVENUE 10 SINGAPORE 560406",
#         "POSTAL": "560406",
#         "X": "30288.2346631354",
#         "Y": "38229.0674628187",
#         "LATITUDE": "1.36200453938712",
#         "LONGITUDE": "103.853879910407"
#         }
#     ]
# }
# '''
# def set_location(row):
#     address = row['block'] + ' ' + row['street_name']
#     url = "https://www.onemap.gov.sg/api/common/elastic/search?searchVal=" + address + "&returnGeom=Y&getAddrDetails=Y&pageNum=1"

#     # get a dictionary of all details
#     response = re.request("GET", url, headers = headers).json()

#     # set (lat, lng)
#     row['lat'] = response['results'][0]['LATITUDE']
#     row['lng'] = response['results'][0]['LONGITUDE']

#     return row

# # for each row, get corresponded geolocation
# hdb2023_df = hdb2023_df.iloc[0:500].apply(set_location, axis = 1)

# hdb2023_df.to_csv('2023_resale_price_with_geolocation_500.csv', index = False)

# hdb2023_df.head()

In [37]:
# since 20 rows takes 6.3s to calculate the geolocation, let's see if dynamic programming can solve the problem

# add 2 new columns 'lat' & 'lng'
hdb2023_df['lat'] = None
hdb2023_df['lng'] = None

# hash table
memo = {}

headers = {
    'purpose': 'student\'s project',
    'University': 'NTU'
}

'''
This function returns the details according to a certain address obtained from a row of Dataframe 'hdb2023_df'
{
    "found": 1,
    "totalNumPages": 1,
    "pageNum": 1,
    "results": [
        {
        "SEARCHVAL": "406 ANG MO KIO AVENUE 10 SINGAPORE 560406",
        "BLK_NO": "406",
        "ROAD_NAME": "ANG MO KIO AVENUE 10",
        "BUILDING": "NIL",
        "ADDRESS": "406 ANG MO KIO AVENUE 10 SINGAPORE 560406",
        "POSTAL": "560406",
        "X": "30288.2346631354",
        "Y": "38229.0674628187",
        "LATITUDE": "1.36200453938712",
        "LONGITUDE": "103.853879910407"
        }
    ]
}
'''
def set_location(row):
    global memo
    address = row['block'] + ' ' + row['street_name']

    if address in memo:
        row['lat'] = memo[address][0]
        row['lng'] = memo[address][1]
    else:
        url = "https://www.onemap.gov.sg/api/common/elastic/search?searchVal=" + address + "&returnGeom=Y&getAddrDetails=Y&pageNum=1"

        # get a dictionary of all details
        response = re.request("GET", url, headers = headers).json()

        # set (lat, lng)
        row['lat'] = response['results'][0]['LATITUDE']
        row['lng'] = response['results'][0]['LONGITUDE']

        memo[address] = [row['lat'], row['lng']]

    return row

# for each row, get corresponded geolocation
hdb2023_df = hdb2023_df.iloc[0: 3000].apply(set_location, axis = 1)

hdb2023_df.to_csv('2023_resale_price_with_geolocation_3000.csv', index = False)

hdb2023_df.head()

# 500 1m 5.1s
# 3000 6m 53.6s
# all 25m 12.8s

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,lat,lng
0,2023-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,01 TO 03,44.0,Improved,1979,55.416667,267000.0,1.36200453938712,103.853879910407
1,2023-01,ANG MO KIO,2 ROOM,323,ANG MO KIO AVE 3,04 TO 06,49.0,Improved,1977,53.500000,300000.0,1.36790849360635,103.84771408812
2,2023-01,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,04 TO 06,44.0,Improved,1978,54.083333,280000.0,1.36622707120636,103.850085858983
3,2023-01,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,07 TO 09,44.0,Improved,1978,54.083333,282000.0,1.36622707120636,103.850085858983
4,2023-01,ANG MO KIO,2 ROOM,170,ANG MO KIO AVE 4,01 TO 03,45.0,Improved,1986,62.083333,289800.0,1.37400071781295,103.83643153142